/*-------------FONTS----------------------*/
/* latin */
@font-face {
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Arapey Regular'), local('Arapey-Regular'), url(https://fonts.gstatic.com/s/arapey/v8/-W__XJn-UDDA2RCKYNod.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Arapey';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Arapey Italic'), local('Arapey-Italic'), url(https://fonts.gstatic.com/s/arapey/v8/-W_9XJn-UDDA2RCKZeofTkY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*-----------------GLOBAL----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato';
    font-size: 16px;
    color: rgb(15, 72, 117);
    text-rendering: optimizeLegibility;
}

html, 
body,
#root {
    width: 100%;
    height: 100%;
}

#root > * {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 8px;
    justify-content: center;
}

#root {
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.4s;
    /*perspective: 1px;
    overflow-y: auto;*/
}

#root.open {
    background-color: rgba(0, 0, 0, 0.4);
}

/*---------------NAVIGATION-----------------*/
.navbar {
    position: fixed;
    grid-template-rows: 100%;
    align-items: center;  
    height: 56px;
    width: 100%;
    background-color: rgba(15, 72, 117, 0.90);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

    /*-----------HAMBURGER------------------*/
    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 40px;
        width: 40px;
        margin-left: 6px;
        grid-column: 1 / span 2;
    }

        .hamburger {
            width: 20px;
            height: 20px;
            display: block;
            position: relative;
        }

            .hamburger span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: white;
                border-radius: 3px;
                transition: all 0.2s;
            }

            /*-------menu closed---------------*/
            .hamburger span:nth-child(1) {
                transform: rotate(0) translateY(0);
                top: 0px;
            }

            .hamburger span:nth-child(2) {
                transform: translateX(0);
                transform: translateY(-1px);
                opacity: 1;
                top: 50%;
            }
            
            .hamburger span:nth-child(3) {
                transform: rotate(0) translateY(0);
                bottom: 0;
            }

            /*--------menu open----------------*/
            .hamburger.open span:nth-child(1) {
                transform: translateY(9px) rotate(45deg) ;
            }

            .hamburger.open span:nth-child(2) {
                transform: translateX(-100%);
                opacity: 0;
            }
            
            .hamburger.open span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }

    /*------------------logo---------------------*/
    .navbar-logo {
        height: 30px;
        grid-column: 3 / span 6;  
    }

        .navbar-logo div:nth-child(1) {
            font-size: 14px;
            font-weight: 900;
            color: white;
            width: auto;

        }

        .navbar-logo div:nth-child(2) {
            font-size: 10px;
            font-weight: 200;
            color: white;
            width: auto;
        }
    
    /*--------------CTA button-------------------*/
    .navbar button {
        grid-column: 9 / span 4;
        background-color: rgb(226, 138, 12);
        color: white;
        border-radius: 4px;
        margin-right: 16px;
        font-size: 12px;
        line-height: 100%;
        font-weight: 700;
        height: 32px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    }

/*--------------side menu--------------------*/
.side-menu {
    margin-top: 56px;
    position: fixed;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

    .nav-links {
        position: relative;
        grid-column: 1 / span 8;
        transform: translateX(-100%);
        background-color: rgb(246, 249, 250);
        list-style: none;
        transition: all 0.2s;
        height: 100%;
        width: auto;  
        padding-left: 16px;   
        padding-right: 16px; 
        
    }

    .nav-links.open {
        transform: translateX(0);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    }

        .nav-links div {
            font-family: 'Lato';
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 48px;
            width: auto;
            height: 48px;
            border-bottom: 1px solid grey;
            
        }
        
        .nav-links div:nth-child(4) {
            border-bottom: none;
        }

            .nav-links div:nth-child(1) span {
                position: absolute;
                right: 0;
                padding-right: 16px;
            }

        .nav-links ul {
            padding-left: 40px;
            padding-top: 8px;
            padding-bottom: 8px;
            position: relative;
            list-style: none;
            border-bottom: 1px solid grey;
        }

            .nav-links li {
                font-family: 'Lato';
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 200;
                line-height: 40px;
                height: 40px;

            }

/*-------------HERO AREA--------------------------*/
.hero-area {
    background-color: rgba(0, 0, 0, 0.0);
    background-blend-mode: color;
    background-image: url('01-lounge.jpg');
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    transition: background-color 0.4s;
    /*z-index: -1;
    transform-style: preserve-3d;
    transform: translateZ(-3px) scale(4);
    overflow-x: hidden;
    overflow-y: scroll;*/
}

.hero-area.open {
    background-color: rgba(0, 0, 0, 0.5);
}

.space {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}