* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
#root {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

input {
    font-size: 16px;
    font-family: sans-serif;
}

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: white;
    z-index: 1;
    align-items: center;
    padding: 10px;
}
    
    .nav-bar p {
        margin-right: auto;
    }

    .nav-bar button {
        margin-left: auto;
    }

    .hamburger {
        margin-left: auto;
    }

.side-menu {
    position: fixed;
    margin-left: auto;
    width: 50%;
    z-index: 2;
}

    .side-menu ul {
        margin-left: auto;
    }

section {
    position: relative;
    width: 100%;
    padding-top: 20px;
    margin: 0;
    height: auto;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: hsla(0, 0%, 100%, 0.5);
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center top;
    color: whitesmoke;
}
    
.banner-background {
    background-image: url("01-front.jpg");
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;

}

    .banner-title {
        position: center;
        padding: 25px;
    }

    .banner-title h1 {
        text-align: center;
        font-size: 30px;
        
    }

    .banner-text {
        text-align: center;
        padding-bottom: 50px;
    }

.gallery,
.description,
.location {
    padding-bottom: 10px;
}

.gallery-view {
    height: 240px;
    width: 100%;
    overflow: hidden;
}

    .gallery-slide {
        display: flex;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
}

    .gallery-view img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: start;
    }

.profile-nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: lightgrey;
}
    
    .profile-nav-links {
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        padding: 5px;
        align-content: center;
    }

        .profile-nav-links li {
            list-style-type: none;
            height: 100%;
            width: 100%;
            text-align: center;
        }
        
        .facilities,
        .location {
            display: none;
        }
 
.mapouter {
    position: relative;
    text-align: right;
    height: 240px;
    width: 100%;
}

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }

        iframe {
            width: 100%;
            height: 100%;
        }


.booking-form-background {
    background-image: url("beachy-head.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
    .booking-form-containter {
        width: 100%;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.75);
    }

        .booking-form {
            color: white;
            
        }

        .booking-form h3 {
            padding-top: 30px;
            padding-bottom: 15px;
        }


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

    .input-container div {
        display: flex;
        flex-direction: column;
    }

    #date-input {
        width: 70%;
        display: flex;
        flex-direction: row;
        height: 34px;
    }

    .input-container input {
        width: 100%;
        height: 34px;
    }

    .date-button-div {
        margin-left: auto;
        height: 100%;
        width: 34px;
    }

    .date-button-div button {
        height: 100%;
    }

    .party-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

        .party-input {
            display: flex;
            flex-direction: column;
        }

            .party-stepper {
                display: flex;
                justify-content: space-around;
            }

    #phone-number {
        width: 60%;
    }


    .button-container {
        padding-top: 20px;
        width: 100%;
        text-align: right;
    }

    .button {
        width: 100px;
        height: 40px;
        background-color: green;
        border: 2px solid black;
    }


.contact {
    padding: 10px;
}

    #contact-phone-number {
        width: 200px;
    }

    textarea {
        resize: vertical;
        height: 150px;
    }

.optional-label {
    font-size: 14px;
    margin-left: 25px;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}


