* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-smoothing: antialiased;
    color: rgb(15, 72, 117);
    text-rendering: optimizeLegibility;
}

html,
#root {
    height: 100%;
    width: 100%;
}



.navbar {
    position: fixed;
    grid-template-rows: 100%;
    height: 45px;
    width: 100%;
    padding-right: 13.5px;
    background-color: rgb(15, 72, 117);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

    /*-----------HAMBURGER------------------*/
    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 45px;
        width: 45px;
        grid-column: 1 / span 1;
    }

        .hamburger {
            width: 18px;
            height: 18px;
            display: block;
            position: relative;
        }

            .hamburger span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: white;
                border-radius: 3px;
                transition: all 0.2s;
            }

            /*-------menu closed---------------*/
            .hamburger span:nth-child(1) {
                transform: rotate(0) translateY(0);
                top: 0px;
            }

            .hamburger span:nth-child(2) {
                transform: translateX(0);
                transform: translateY(-1px);
                opacity: 1;
                top: 50%;
            }
            
            .hamburger span:nth-child(3) {
                transform: rotate(0) translateY(0);
                bottom: 0;
            }

            /*--------menu open----------------*/
            .hamburger.open span:nth-child(1) {
                transform: translateY(8px) rotate(135deg) ;
            }

            .hamburger.open span:nth-child(2) {
                transform: translateX(-100%);
                opacity: 0;
            }
            
            .hamburger.open span:nth-child(3) {
                transform: translateY(-8px) rotate(-135deg);
            }

    /*------------------logo---------------------*/
    .navbar-logo {
        height: auto;
        grid-column: 2 / span 6;  
    }

        .navbar-logo div:nth-child(1) {
            font-size: 14px;
            font-weight: 900;
            color: white;
        }

        .navbar-logo div:nth-child(2) {
            font-size: 10px;
            font-weight: 200;
            color: white;
        }
    
    /*--------------CTA button-------------------*/
    .navbar button {
        grid-column: 10 / span 3;
        background-color: rgb(226, 138, 12);
        color: white;
        border-radius: 4px;
        padding: 3px 16px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
    }

/*--------------side menu--------------------*/
.side-menu {
    z-index: -5;
    margin-top: 45px;
    position: fixed;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

    .side-menu ul {
        grid-column: 1 / span 6;
        transform: translateX(-100%);
        background-color: rgb(246, 249, 250);
        list-style: none;
        transition: all 0.2s;
        align-items: left;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 13.5px;
    }

    .side-menu ul.open {
        transform: translateX(0);
    }

        .side-menu li {
            font-family: 'Arapey';
            line-height: 40px;
            width: 100%;
            height: 40px;
        }


section {
    position: relative;
    width: 100%;
    padding-top: 20px;
    margin: 0;
    height: auto;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("09-single.jpg");
    background-position: 67.5%;
    background-size: cover;
    background-attachment: fixed;
}

    .banner button {
        border-radius: 25px;
        padding: 5px 5px 5px 5px;
        outline: none;
        border: 1px solid white;
        background-color: rgb(226, 138, 12); 
        color: white;
    }

.banner-overlay {
    padding: 20px;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(15, 72, 117, 0.25);
}

    .banner-title {
        position: center;
        padding: 20px;
    }

    .banner-title h2 {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        font-family: Arapey;
        color: white;
        
        
    }

    .banner-text {
        text-align: center;
        color: white;
        padding-bottom: 15px;
    }

    .banner-text p {
        color: white;
    }

    .banner button { 

        width: 100px;
    }

.gallery,
.description,
.location {
    padding-bottom: 10px;
}



.overview,
.facilities,
.location {
    transition: opacity linear 1s;
}

.gallery-view {
    height: 240px;
    width: 100%;
    overflow: hidden;
}

    .gallery-slide {
        display: flex;
        height: 100%;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
}

    .gallery-view img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: start;
    }

.profile-nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(246, 249, 250); /* 248, 243, 245*/
    color: rgb(15, 72, 117);
}
    
    .profile-nav-links {
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        padding: 5px;
        align-content: center;
    }

        .profile-nav-links li {
            list-style-type: none;
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 14px;
        }
        
        .facilities,
        .location {
            display: none;
        }
 
.mapouter {
    position: relative;
    text-align: right;
    height: 240px;
    width: 100%;
}

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }

        iframe {
            width: 100%;
            height: 100%;
        }


.booking-form-background {
    background-image: url("beachy-head.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
    .booking-form-containter {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.75);
        overflow: hidden;
    }

        .booking-form {
            visibility: collapse;
            position: relative;
            display: block;
            color: white;
            max-height: 0;
            transition: all 1.5s;
            opacity: 0;
            overflow: no-content;
        }

            .booking-footer {
                visibility: visible;
            }

        .booking-form h3 {
            padding-top: 30px;
            padding-bottom: 15px;
        }

    .booking h1 {
        font-family: Arapey;
        font-weight: 300;
        padding-bottom: 15px;
        padding-left: 10px;
    }


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

    .input-container div {
        display: flex;
        flex-direction: column;
    }

    #date-input {
        width: 70%;
        display: flex;
        flex-direction: row;
        height: 34px;
    }

    .input-container input {
        width: 100%;
        height: 34px;
    }

    .date-button-div {
        margin-left: auto;
        height: 100%;
        width: 34px;
    }

    .date-button-div button {
        height: 100%;
    }

    .party-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

        .party-input {
            display: flex;
            flex-direction: column;
        }

            .party-stepper {
                display: flex;
                justify-content: space-around;
            }

    #phone-number {
        width: 60%;
    }


    .button-container {
        padding-top: 20px;
        width: 100%;
        text-align: right;
    }

.button {
    width: 100px;
    height: 40px;
    background-color: rgb(226, 138, 12);
    border: 2px solid black;
}


.contact {
    padding: 10px;
}

    .contact h1 {
        font-family: Arapey;
        font-weight: 300;

    }

    #contact-phone-number {
        width: 200px;
    }

    textarea {
        resize: vertical;
        height: 150px;
    }

.optional-label {
    font-size: 14px;
    margin-left: 25px;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}


