<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0" />
    <title>The Cottage - Admin</title>
    <link rel="stylesheet" href="../static/admin.css" />
</head>

<body>
    <h1>WELCOME TO THE COTTAGE ADMIN LOGIN PAGE</h1>
    <div class="login-form-container">
        <form class="login-form">
            <div class="input-container">
                <label for="username">Username</label>
                <input type="text" required />
            </div>

            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" required />
            </div>
        </form>
    </div>
</body>