<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cottage @ Eastbourne</title>
    <link rel="stylesheet" href="../static/newMain.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-async-computed"></script>
</head>

<body>
    <div id="root">



        <div ref="calendar" class="calendar">

        </div>
        <div ref="party-slide" class="party-slide">

        </div>

        <nav class="nav-bar">
            <p>The Cottage</p>
            <button>Book</button>
            <div class="hamburger" v-on:click="toggleSideMenu()">☰</div>
        </nav>

        <div ref="sideMenu" class="side-menu" style="display: none;">
            <ul>
                <li v-on:click="goToProfile()">The Cottage</li>
                <li v-on:click="goToBooking()">Booking/Availability</li>
                <li v-on:click="goToContact()">Contact Us</li>
            </ul>
        </div>

        <section class="banner">
            <div class="banner-title">
                <h1>The Cottage</h1>
                <h1> _______ </h1>
                <h1>Eastbourne</h1>
            </div>
            <div class="banner-text">
                <p>A nice cottage in Eastbourne</p>
                <button>Book</button>
            </div>
            
        </section>

        <section ref="profile" class="profile">

            <div class="gallery">
                <div class="gallery-view">
                    <div class="gallery-slide">
                        <img v-for="image in galleryImages" :src="image" />
                    </div>
                </div>
            </div>

            <nav class="profile-nav">
                <ul class="profile-nav-links">
                    <li v-on:click="showOverview()">Overview</li>
                    <li v-on:click="showFacilities()">Facilites</li>
                    <li v-on:click="showLocation()">Location</li>
                </ul>
            </nav>

            <div ref="overview" class="overview">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Gravida quis blandit turpis cursus in. Non curabitur gravida arcu ac tortor dignissim convallis.
                    Mus mauris vitae ultricies leo integer malesuada nunc. Bibendum at varius vel pharetra vel.
                    Luctus accumsan tortor posuere ac ut consequat semper viverra. Quisque id diam vel quam.
                    Dictum fusce ut placerat orci nulla. Sed viverra ipsum nunc aliquet bibendum. Sit amet volutpat consequat mauris.
                    Egestas erat imperdiet sed euismod. Lacus vel facilisis volutpat est velit egestas dui id ornare.
                </p>
            </div>

            <div ref="facilities" class="facilities">
                <p>Facilities</p>
            </div>

            <div ref="location" class="location">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="475" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20village%2Cmeads%2Ceastbourne&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
                <p>The Cottage is located in Eastbourne. Short walk from the beach.</p>
            </div>

        </section>

        <section ref="booking" class="booking">
            <h1>Book</h1>
            <div class="booking-form-background">
                <div class="booking-form-containter">
                    <form method="post" class="booking-form">
                        {{ booking_form.hidden_tag() }}

                        <div class="booking-info">
                            <div class="input-container">
                                <label for="arrival-date">Arrival Date</label>
                                <div id="date-input">
                                    <input id="arrival-date" v-model="bookingFormData.arrivalDate" type="text" required />
                                    <div class="date-button-div">
                                        <button>&#128197;</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-container">
                                <label for="departure-date">Departure Date</label>
                                <div id="date-input">
                                    <input id="departure-date" v-model="bookingFormData.departureDate" type="text" required />
                                    <div class="date-button-div">
                                        <button>&#128197;</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-container">
                                <label for="party-input">Party</label>
                                <input id="party-input" type="text" v-on:click="toggleParty()" />
                            </div>
                        </div>


                        <div class="personal-details">
                            <h3>Personal Details</h3>
                            <div class="input-container">
                                <label for="name">Full Name</label>
                                <input id="name" v-model="bookingFormData.name" type="text" required />
                            </div>


                            <div class="input-container">
                                <label for="email-address">Email Address</label>
                                <input id="email-address" v-model="bookingFormData.emailAddress" type="email" required />
                            </div>


                            <div class="input-container">
                                <label for="phone-number">Phone Number</label>
                                <input id="phone-number" v-model="bookingFormData.phoneNumber" type="text" required />
                            </div>

                        </div>
                        <input type="submit" />
                    </form>
                </div>
            </div>

        </section>

        <section ref="contact" class="contact">
            <h3>Contact Us</h3>
            <form method="post">
                <div class=input-container>
                    <label for="contact-name">Full Name</label>
                    <input id="contact-name" v-model="contactFormData.name" type="text" required />
                </div>

                <div class=input-container>
                    <label for="contact-email-address">Email Address</label>
                    <input id="contact-email-address" v-model="contactFormData.emailAddress" type="email" required />
                </div>

                <div class=input-container>
                    <label for="contact-phone-number">Phone Number (Optional)</label>
                    <input id="contact-phone-number" v-model="contactFormData.phoneNumber" type="email" />
                </div>

                <div class=input-container>
                    <label for="contact-message">Message</label>
                    <textarea id="contact-message" v-model="contactFormData.message" required></textarea>
                </div>


                <input type="submit" />
            </form>
        </section>

        <footer>
            <a href="http://www.facebook.com">f</a>
        </footer>

        <div ref="party" class="party" style="display: none;">
            <label for="adults">Adults</label>
            <input id="adults" v-model="bookingFormData.party.adults" type="number" />

            <label for="children">Children</label>
            <input id="children" v-model="bookingFormData.party.children" type="number" />

            <label for="infants">Infants</label>
            <input id="infants" v-model="bookingFormData.party.infants" type="number" />

            <label for="dogs">Dogs</label>
            <input id="dogs" v-model="bookingFormData.party.dogs" type="number" max="1" />
        </div>

    </div>

    

    <script src="../static/newMain.js"></script>
</body>

</html>