<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cottage @ Eastbourne</title>
    <link rel="stylesheet" href="../static/newMain.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-async-computed"></script>
    <script src="https://unpkg.com/animate-css-grid@latest"></script>
</head>

<body>
    <div id="root">

        <nav class="nav-bar">
            <p>THE COTTAGE</p>
            <button>BOOK</button>
            <div class="hamburger" v-on:click="toggleSideMenu()">☰</div>
        </nav>

        <div ref="sideMenu" class="side-menu" style="display: none;">
            <ul>
                <li v-on:click="goToProfile()">The Cottage</li>
                <li v-on:click="goToBooking()">Booking/Availability</li>
                <li v-on:click="goToContact()">Contact Us</li>
            </ul>
        </div>

        <section class="banner">

            <div class="banner-overlay">
                <div class="banner-title">
                    <h2>A Nice Cottage In Eastbourne</h2>
                </div>
                <div class="banner-text">
                    <p>A nice cottage in Eastbourne</p>
                </div>
                <button>Book</button>
            </div>
            

        </section>
        

        <section ref="profile" class="profile">

            <div class="gallery">
                <div class="gallery-view">
                    <div class="gallery-slide">
                        <img v-for="image in galleryImages" :src="image" />
                    </div>
                </div>
            </div>

            <nav class="profile-nav">
                <ul class="profile-nav-links">
                    <li v-on:click="showOverview()">Overview</li>
                    <li v-on:click="showFacilities()">Facilites</li>
                    <li v-on:click="showLocation()">Location</li>
                </ul>
            </nav>

            <div ref="overview" class="overview">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Gravida quis blandit turpis cursus in. Non curabitur gravida arcu ac tortor dignissim convallis.
                    Mus mauris vitae ultricies leo integer malesuada nunc. Bibendum at varius vel pharetra vel.
                    Luctus accumsan tortor posuere ac ut consequat semper viverra. Quisque id diam vel quam.
                    Dictum fusce ut placerat orci nulla. Sed viverra ipsum nunc aliquet bibendum. Sit amet volutpat consequat mauris.
                    Egestas erat imperdiet sed euismod. Lacus vel facilisis volutpat est velit egestas dui id ornare.
                </p>
            </div>

            <div ref="facilities" class="facilities">
                <p>Facilities</p>
            </div>

            <div ref="location" class="location">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="475" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20village%2Cmeads%2Ceastbourne&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
                <p>The Cottage is located in Eastbourne. Short walk from the beach.</p>
            </div>

        </section>

        <section ref="booking" class="booking">
            <h1>Book</h1>
            <div class="booking-form-background">
                <div class="booking-form-containter">
                    <div ref="calendar" class="calendar">
                        <div class="calendar-header">
                            <div class="calendar-controls">
                                <div class="calendar-arrows" v-on:click="decreaseMonth()">
                                    <div><</div>
                                </div>
                                <div><% selectedMonth.toLocaleString('default', { month: 'long' }) %></div>
                                <div><% selectedMonth.getFullYear() %></div>
                                <div class="calendar-arrows" v-on:click="increaseMonth()">
                                    <div>></div>
                                </div>
                            </div>
                            <div class="calendar-days">
                                <ul>
                                    <li v-on:click="hideCalendar()">Mo</li>
                                    <li>Tu</li>
                                    <li>We</li>
                                    <li>Th</li>
                                    <li>Fr</li>
                                    <li>Sa</li>
                                    <li>Su</li>
                                </ul>
                            </div>
                        </div>
                        <div ref="calendarView" class="calendar-view">
                            <div ref="calendarSlide" class="calendar-slide">
                                <table v-for="i in 5"></table>
                            </div>
                        </div>
                    </div>

                    <div class="availability-key">
                        <div class="booked-key">
                            <div class="booked-box"></div>
                            <div> = Booked </div>
                        </div>
                        <div class="available-key">
                            <div class="available-box"></div>
                            <div> = Available </div>
                        </div>
                    </div>

                    <form ref="bookingForm" @submit.prevent="submitBooking()" class="booking-form">
                        {{ booking_form.hidden_tag() }}

                        <div class="booking-info">

                            <div class="input-container">
                                <label for="arrival-date">Arrival Date</label>
                                <div id="date-input">
                                    <input id="arrival-date" v-model="bookingFormData.arrivalDate" type="text" required />
                                    <div class="date-button-div">
                                        <button type="button">&#128197;</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-container">
                                <label for="departure-date">Departure Date</label>
                                <div id="date-input">
                                    <input id="departure-date" v-model="bookingFormData.departureDate" type="text" required />
                                    <div class="date-button-div">
                                        <button type="button">&#128197;</button>
                                    </div>
                                </div>
                            </div>

                            <p>Party</p>
                            <div class="party-container">
                                <div class="party-input">
                                    <label for="adults">Adults</label>
                                    <div class="party-stepper" id="adults">
                                        <button class="party-decrease" type="button" v-on:click="adultsDecrease()">-</button>
                                        <div><% bookingFormData.party.adults %></div>
                                        <button class="party-increase" type="button" v-on:click="adultsIncrease()">+</button>
                                    </div>
                                </div>

                                <div class="party-input">
                                    <label for="children">Children</label>
                                    <div class="party-stepper" id="children">
                                        <button class="party-decrease" type="button" v-on:click="childrenDecrease()">-</button>
                                        <div>0</div>
                                        <button class="party-increase" type="button" v-on:click="childrenIncrease()">+</button>
                                    </div>
                                </div>

                                <div class="party-input">
                                    <label for="infants">Infants</label>
                                    <div class="party-stepper" id="infants">
                                        <button class="party-decrease" type="button" v-on:click="infantsDecrease()">-</button>
                                        <div>0</div>
                                        <button class="party-increase" type="button" v-on:click="infantsIncrease()">+</button>
                                    </div>
                                </div>

                                <div class="party-input">
                                    <label for="dogs">Dogs</label>
                                    <div class="party-stepper" id="dogs">
                                        <button class="party-decrease" type="button" v-on:click="dogsDecrease()">-</button>
                                        <div>0</div>
                                        <button class="party-increase" type="button" v-on:click="dogsIncrease()">+</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="personal-details">
                            <h3>Personal Details</h3>
                            <div class="input-container">
                                <label for="name">Full Name</label>
                                <input id="name" v-model="bookingFormData.name" type="text" required />
                            </div>


                            <div class="input-container">
                                <label for="email-address">Email Address</label>
                                <input id="email-address" v-model="bookingFormData.emailAddress" type="email" required />
                            </div>


                            <div class="input-container">
                                <label for="phone-number">Phone Number</label>
                                <input id="phone-number" v-model="bookingFormData.phoneNumber" type="text" required />
                            </div>

                        </div>
                        <div class="button-container">
                            <button class="button" type="submit">Book</button>
                        </div>

                    </form>
                </div>
            </div>

        </section>

        <section ref="contact" class="contact">
            <h3>Contact Us</h3>
            <form method="post">
                <div class=input-container>
                    <label for="contact-name">Full Name</label>
                    <input id="contact-name" v-model="contactFormData.name" type="text" required />
                </div>

                <div class=input-container>
                    <label for="contact-email-address">Email Address</label>
                    <input id="contact-email-address" v-model="contactFormData.emailAddress" type="email" required />
                </div>

                <div class=input-container>
                    <label for="contact-phone-number">Phone Number <span class="optional-label">(Optional)</span></label>
                    <input id="contact-phone-number" v-model="contactFormData.phoneNumber" type="email" />
                </div>

                <div class=input-container>
                    <label for="contact-message">Message</label>
                    <textarea id="contact-message" v-model="contactFormData.message" required></textarea>
                </div>

                <div class="button-container">
                    <button class="button" type="submit">Send</button>
                </div>
                
            </form>
        </section>

        <footer>
            <a href="http://www.facebook.com">f</a>
        </footer>

    </div>

    

    <script src="../static/newMain.js"></script>
</body>

</html>