<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0" />
    <title>The Cottage - Eastbourne</title>
    <link rel="stylesheet" href="../static/main.css" />
</head>

<body>
    <div id="root">
        <!--=============  NAVIGATION  ================-->
        <nav class="navbar">
            <div class="hamburger-container" v-on:click="toggleSideMenu()">
                <div ref="hamburger" class="hamburger">
                    <span v-for="i in 3"></span>
                </div>
            </div>

            <div class="navbar-logo">
                <div>THE COTTAGE</div>
                <div>EASTBOURNE</div>
            </div>

            <button type="button" v-on:click="bookCTAPress()">BOOK</button>
        </nav>

        <div ref="sideMenu" class="side-menu">
            <div class="nav-links">
                <div>The Cottage <span></span></div>
                <ul>
                    <li>Overview</li>
                    <li>Facilities</li>
                    <li>Floor Plan</li>
                    <li>Location</li>
                </ul>
                <div>Availability &amp; Booking</div>
                <div>Contact Us</div>
            </div>
        </div>
        
        <!--==============  HERO AREA  =============-->
        <div class="content-wrapper">
            <header class="hero-area"></header>

            <section class="cottage">
                <div class="gallery">
                    <div class="gallery-view">
                        <div class="gallery-slide">
                            <img v-for="image in galleryImages" :src="image" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
         
    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-async-computed"></script>
<script src="https://unpkg.com/animate-css-grid@latest"></script>
<script src="../static/body-scroll-lock/bodyScrollLock.js"></script>
<script src="../static/main.js"></script>

</html>

    
